@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --font-moontime: "Moontime", cursive;
  --font-caitlin: "Caitlin", cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 60%;
}

.swiper-slide:nth-child(2n) {
  width: 40%;
}

.swiper-slide:nth-child(3n) {
  width: 100%;
}
.swiper-slide:nth-child(4n) {
  width: 40%;
}
.swiper-slide:nth-child(5n) {
  width: 100%;
}

/* di styles/globals.css atau styles.css */
@layer utilities {
  /* scroll tipis & transparan */
  ::-webkit-scrollbar {
    width: 4px; /* tipis */
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* track transparan */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #000000; /* thumb tipis, samar */
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 0, 0); /* hover lebih jelas */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease forwards;
}

@font-face {
  font-family: "Moontime";
  src: url("/fonts/moontime.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Caitlin";
  src: url("/fonts/caitlin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
